/*FONTS*/
@font-face {
    font-family: 'VanHelsing';
    src: url('/fonts/vanHelsing.ttf') format('truetype');
}

/*@KEYFRAMES*/


/*ELEMENT STYLING*/
/*design consistency notes:
 selectors are mentioned in the order they appear on index.html
*/
body{
    background-color: rgb(27, 27, 27);
    color: white;
    width: 100%;
}

nav {
    padding: .4em 0em .8em 0em;
    color: white;
    width: 100%;
    background-color: rgba(27, 27, 27, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    z-index: 10;
    height: 150px;
    background-color: rgb(27, 27, 27);
}

h1 {
    font-family: 'vanHelsing', sans-serif;
}

p {
    font: 'Anybody', sans-serif;
}
/*CLASS STYLING*/
.nav-brands {
    padding-left: .8em;
}

.nav-brands li {
    padding-left: .4em;
}

.nav-brands .fa-brands {
    color: rgb(57, 57, 57)
}

.nav-logo {
    width: 5em;
}

.navbar-etc {
    color: white;
    background-color: rgb(27, 27, 27);
    border-radius: 1px;
    border: 1px black solid;
    font-family: 'Anybody', sans-serif;
    font-size: .95em;
    font-weight: 400;
}

.navbar-etc li {
    width: 100%;
    padding: .14em .4em;
}

.navbar-etc li:hover {
    background-color: rgba(0, 174, 208, 0.3);
} 

.single {
    background-color: rgb(227, 227, 227);
    text-align: center;
    padding: 15vw 0;
    box-shadow: 0 0 50px rgb(227, 227, 227);
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single h1 {
    font-family: 'Anybody', sans-serif;
    font-weight: 700;
    color: rgb(27, 27, 27);
}

.single img {
    width: 512px;
    margin-bottom: 0;
}

.single button {
    background-color: rgb(87, 187, 187);
    color: rgb(255, 255, 255);
    font-family: 'Anybody', sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding: .1em 1em .4em 1em;
    border-radius: 18px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transition: background-color .4s ease, padding-top .8s ease;
    margin-top: 0;
}

.single button:hover {
    background-color: rgb(17, 117, 117);
    padding-top: .4em;
}

.get-tickets {
    background-color: rgb(17, 117, 117); /* Darker blue color */
    color: rgb(255, 255, 255);
    font-family: 'Anybody', sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding: .2em 1em;
    border-radius: 8px;
    transition: background-color .4s ease;
}

.get-tickets:hover {
    background-color: rgb(0, 87, 87); /* Even darker blue color for hover */
}

.tour-event {
    border-top: 1px solid rgb(227, 227, 227);
}
.background-img{
    background-image: url("../imgs/purpleguitar.jpg");
    background-size:contain;
    padding: 30vw 0vw 26vw 0vw;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*ID STYLING*/
#social-media {
    display: none;
    padding: .4em;
    margin-left: 1em;
    background-color: rgba(27, 27, 27, .2);
    color: rgb(227, 227, 227);
    font-family: 'Anybody' ,sans-serif;
    font-weight: 700;
}

#contact-us-button {
    display: none;
}

#navbar-dropdown {
    margin-right: .4em;
    padding: .2em;
}

#navbar-dropdown:hover{
    background-color: rgba(27, 27, 27, .4);
}

#navbar-dropdown div {
    margin: .2em;
    height: .16em;
    width: 1.5em;
    border-radius: 5px;
    background-color: white;
}

#tour {

}

/*@MEDIAQUERIES*/
@media (min-width: 900px) {
    .nav-brands li {
        padding-left: .8em;
    }
}

@media (max-width: 899px) and (min-width: 600px) {
    .nav-brands li {
        padding-left: .4em;
    }
    
}

@media (max-width: 599px) {
    .nav-brands {
        display: none;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.85);
        border: 1px black solid;
    }

    .nav-brands ul {
        width: 80px;
        min-width: 0!important;
    }

    .nav-brands li {
        padding-left: 0;
    }

    #social-media {
        display: block;
    }
   
}

@media (max-width: 512px) {
    .single h1 {
        font-size: 1.2em;
        margin-top: 6em;
    }

    .single img {
        width: 100%;
    }
}
