/*ROOT*/
:root {
    --bs-dropdown-min-width: 0 !important;
}

/*@KEYFRAMES*/



/*ELEMENT STYLING*/

body{
    background-color: rgb(27, 27, 27);
    color: white;
    width: 100%;
}

nav {
    padding: .4em 0em .8em 0em;
    color: white;
    width: 100%;
    
}

footer {
    z-index: 10;
    height: 150px;
    background-color: rgb(27, 27, 27);
}

/*CLASS STYLING*/

.nav-brands {
    padding-left: .8em;
}

.nav-brands li {
    padding-left: .4em;
}

.nav-logo {
    width: 5em;
}

.navbar-etc {
    color: white;
    background-color: rgb(27,27,27);
    border-radius: 1px;
    border: 1px black solid;
    font-family: 'Roboto', sans-serif;
    font-size: .95em;
    font-weight: 400;
}

.navbar-etc li {
    width: 100%;
    padding: .14em .4em;
}
.filler {
        padding: 15vw;
}

.navbar-etc li:hover {
    background-color: rgba(0, 174, 208, 0.3);
}

.background_img{
    width: 100%;
    position: fixed;
    z-index: -4;
}

/*ID STYLING*/

#navbar {
    background-color: rgba(27, 27, 27, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#social-media {
    display: none;
    padding: .4em;
    margin-left: 1em;
}

#navbar-dropdown {
    margin-right: .4em;
    padding: .2em;
}

#navbar-dropdown:hover{
    background-color: rgba(27, 27, 27, .4);
}

#navbar-dropdown div {
    margin: .2em;
    height: .16em;
    width: 1.5em;
    border-radius: 5px;
    background-color: white;
}

#bandName {
    color: rgb(0, 183, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/*@MEDIAQUERIES*/

@media (min-width: 900px) {
    .nav-brands li {
        padding-left: 1em;
    }
}

@media (max-width: 899px) and (min-width: 600px) {
    .nav-brands li {
        padding-left: .4em;
    }
    
}

@media (max-width: 599px) {
    .nav-brands {
        display: none;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 1px;
        border: 1px black solid;
    }

    .nav-brands ul {
        width: 80px;
        min-width: 0!important;
    }

    .nav-brands li {
        padding-left: 0;
    }

    #social-media {
        display: block;
    }
   
}


   